@charset "UTF-8";
/*  sample */
@font-face {
  font-family: "april";
  src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf");
  font-weight: normal;
}
html {
  font-size: 62.5%;
}
@media (max-width: 1500px) {
  html {
    font-size: 0.6vw;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 0.7vw;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 1vw;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 1.2vw;
  }
}

html.wf-active {
  visibility: visible;
}

body {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.05em;
  font-family: futura-pt, Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "MS Pゴシック", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  text-decoration: none !important;
  color: inherit !important;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.header {
  display: flex;
  padding: 1% 3%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 3% 5%;
  }
}
.header__logo {
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.footer {
  width: 100%;
  display: none;
  padding: 0 5%;
  position: fixed;
  bottom: 5%;
  transform: translatex(-50%);
  left: 50%;
}
@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}
.footer__inner {
  text-align: center;
}
.footer small {
  display: block;
  font-size: 1.7rem;
  letter-spacing: 3px;
  opacity: 0.75;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.section__number {
  font-size: 15.5rem;
  font-family: april;
  font-weight: bold;
  letter-spacing: 5px;
  transform: translatey(200px);
  transition: transform 0.3s ease-out;
}
.section__number-wrap {
  overflow: hidden;
  position: absolute;
  bottom: 15%;
  right: 5%;
  z-index: 3;
}
.section__border {
  width: 90px;
  background-color: rgba(255, 81, 0, 0.9450980392);
  height: 4px;
  display: inline-block;
}
.section__border:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 10px;
}
.section__border:nth-of-type(2) {
  margin-left: 55px;
  margin-bottom: 22px;
}
.section__img-wrap {
  overflow: hidden;
  width: 50vw;
  height: 70%;
  margin: 0 0 0 auto;
  transform: translatex(-17%);
  position: relative;
  background-position: center;
}
@media only screen and (max-width: 768px) {
  .section__img-wrap {
    margin: 0 auto;
    width: 80vw;
    height: 50vh;
    transform: none;
    transform: translateY(15%);
  }
}
.section__img-wrap a {
  display: block;
  width: 100%;
  height: 100%;
}
.section__img-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.83;
  top: 0;
  right: 0;
  background: #ff4d5a;
  transition: transform 0.6s cubic-bezier(0.15, 0.65, 0.35, 0.65);
  transition-delay: 0.2s;
}
.section__img-cover:nth-of-type(2) {
  background: #072142;
  transition: transform 0.7s cubic-bezier(0.15, 0.65, 0.35, 0.65);
  transition-delay: 0.1s;
}
.section__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .section__inner {
    display: block;
    position: relative;
  }
}
.section__copy-wrap {
  text-align: left;
  overflow: hidden;
  left: 11%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 2;
  backface-visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .section__copy-wrap {
    padding: 0 5%;
    left: 5%;
    top: 70%;
  }
}
.section__copy-inner {
  transition: transform 0.9s ease-in-out;
  transform: translateX(-1000px);
}
.section__copy {
  font-size: 12rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 2%;
  position: relative;
  z-index: 2;
  transition: all 0.6s ease-in-out;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
}
.section__sub-copy {
  font-size: 3rem;
  margin-top: 3%;
  transition: all 0.6s ease-in-out;
  transition-delay: 0.2s;
}
@media only screen and (max-width: 768px) {
  .section__sub-copy {
    font-size: 5rem;
  }
}

#works-hero .section__img-wrap {
  background-image: url("/image/works.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.works .section__img-wrap {
  background-image: url("/image/works.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about .section__img-wrap {
  background-image: url("/image/about.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .section__img-wrap {
  background-image: url("/image/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#about-hero .section__img-wrap {
  background-image: url("/image/about.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.common-hero .section__img-wrap {
  height: 100vh;
  width: 63vw;
  margin: 0 0 0 auto;
  transform: translatex(0);
}
@media only screen and (max-width: 768px) {
  .common-hero .section__img-wrap {
    height: 60vh;
    width: 100vw;
    transform: translateX(0);
  }
}

.page-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.common-container .link-btn {
  opacity: 0;
  visibility: hidden;
}

.hero .section__copy {
  font-size: 9rem;
}

@media only screen and (max-width: 768px) {
  .works .section__inner,
.about .section__inner,
.contact .section__inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
.g-nav {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-out;
  z-index: 4;
  background: #b8b7b7;
}
.g-nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99999;
}
.g-nav__link {
  color: #000 !important;
  font-weight: bold;
  font-size: 12rem;
  letter-spacing: 0.15em;
  transform: translateY(-100%);
  display: block;
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: relative;
  z-index: 999999;
}
.g-nav__item {
  margin-bottom: 7%;
  overflow: hidden;
}
.g-nav__item:last-of-type {
  margin-bottom: 0;
}

.bg-efe {
  transform: rotate(180deg) scale(110);
  opacity: 0;
  visibility: hidden;
}

.burger-btn {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .burger-btn {
    width: 35px;
    height: 35px;
  }
}
.burger-btn__bg {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0%;
  left: 0%;
  background-image: url("../image/nav.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.8s ease-out;
}
@media only screen and (max-width: 768px) {
  .burger-btn__bg {
    width: 35px;
    height: 35px;
  }
}
.burger-btn__close-bar {
  display: none;
  position: absolute;
  width: 60px;
  height: 3px;
  background: #000;
  z-index: 2;
  left: 50%;
  transform: translatex(-50%);
}
.burger-btn__close-bar:nth-of-type(1) {
  transform: translate(-50%, 6px) rotate(45deg);
}
.burger-btn__close-bar:nth-of-type(2) {
  transform: translate(-50%, 5px) rotate(-45deg);
}

.link-active {
  transform: translate(0);
}

.m-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.hero {
  position: relative;
}
.hero__moon {
  transition: all 0.6s ease-in-out, transform 0.6s linear 0s;
  position: relative;
  opacity: 0;
  right: -1000px;
}
@media only screen and (max-width: 768px) {
  .hero__moon {
    right: -600px;
  }
}
.hero__moon-wrap {
  overflow: hidden;
  width: 54%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 7%;
  transition: all 0.6s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .hero__moon-wrap {
    top: 33vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    right: auto;
  }
}
.hero__tit {
  font-size: 6.1rem;
  color: rgba(255, 81, 0, 0.9450980392);
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: futura-pt-bold, sans-serif;
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
  position: absolute;
  top: 45%;
  left: 65%;
  opacity: 0;
  transform: translateX(50%);
  text-shadow: 3px 5px 12px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  .hero__tit {
    top: 33%;
    left: 50%;
    transform: none;
  }
}

.contact__icons {
  margin-top: 3%;
}
.contact__icons i {
  font-size: 4rem;
  margin-right: 3%;
}
.contact__mail {
  margin-top: 3%;
  font-size: 3rem;
}

.pararaxArea {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(16%);
}
@media only screen and (max-width: 768px) {
  .pararaxArea {
    height: 65vh;
    transform: translateX(0);
  }
}
.pararaxArea .pararaxItem {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.pararaxArea .pararaxItem:nth-child(1) {
  width: 1400px;
  height: 120%;
  background-color: rgba(244, 244, 244, 0.09);
  transition: transform 1s linear 0.008s;
}
@media only screen and (max-width: 768px) {
  .pararaxArea .pararaxItem:nth-child(1) {
    height: 300px;
    width: 300px;
  }
}
.pararaxArea .pararaxItem:nth-child(2) {
  width: 1200px;
  height: 110%;
  background-color: rgba(214, 218, 218, 0.11);
  transition: transform 0.8s linear 0.004s;
}
@media only screen and (max-width: 768px) {
  .pararaxArea .pararaxItem:nth-child(2) {
    height: 650px;
    width: 700px;
  }
}
.pararaxArea .pararaxItem:nth-child(3) {
  width: 1000px;
  height: 90%;
  background-color: rgba(239, 246, 246, 0.15);
  transition: transform 0.6s linear 0s;
}
@media only screen and (max-width: 768px) {
  .pararaxArea .pararaxItem:nth-child(3) {
    height: 550px;
    width: 600px;
  }
}
.pararaxArea .pararaxItem:nth-child(4) {
  width: 800px;
  height: 72%;
  background-color: rgba(239, 246, 246, 0.1);
  transition: transform 0.6s linear 0s;
}
@media only screen and (max-width: 768px) {
  .pararaxArea .pararaxItem:nth-child(4) {
    height: 450px;
    width: 500px;
  }
}
.pararaxArea .pararaxItem:nth-child(5) {
  width: 90vw;
  height: 90vh;
  background-image: url("../image/dot.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 1.4s linear 0s;
}
@media only screen and (max-width: 768px) {
  .pararaxArea .pararaxItem:nth-child(5) {
    height: 450px;
    width: 500px;
  }
}

.about-bg {
  background-color: #212121;
  padding-top: 5%;
}

.about__sec-tit {
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid #EE6161;
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 5%;
  font-size: 6.5rem;
  letter-spacing: 5px;
  text-align: left;
}
.about__sec-tit:after {
  content: "";
  width: 27.27%;
  height: 3px;
  background: #391E88;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.about-pro {
  color: #fff;
  background-color: #212121;
  padding: 5%;
  font-size: 2rem;
}
.about-pro__txt {
  color: #fff;
  font-size: 1.7rem;
  line-height: 2;
}
@media only screen and (max-width: 768px) {
  .about-pro__txt {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .about-pro__txt-wrap {
    margin-top: 7%;
  }
}
.about-pro__name {
  font-weight: bold;
  font-size: 2.9rem;
  margin-right: 3%;
}
@media only screen and (max-width: 768px) {
  .about-pro__name {
    font-size: 4rem;
    margin-right: 0;
    text-align: center;
  }
}
.about-pro__sub-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2%;
  display: block;
}
@media only screen and (max-width: 768px) {
  .about-pro__sub-name {
    text-align: center;
    font-size: 2.4rem;
  }
}
.about-pro__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .about-pro__inner {
    display: block;
  }
}
.about-pro__img-wrap {
  width: 45%;
  margin-right: 5%;
}
@media only screen and (max-width: 768px) {
  .about-pro__img-wrap {
    margin: 0 auto;
    width: 70%;
  }
}

.skill {
  color: #fff;
  padding: 5%;
}
.skill__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .skill__inner {
    display: block;
  }
}
.skill__bl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin-bottom: 5%;
}
@media only screen and (max-width: 768px) {
  .skill__bl {
    width: 100%;
    margin-bottom: 10%;
  }
}
.skill__bl:nth-of-type(9), .skill__bl:nth-of-type(10) {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .skill__bl:nth-of-type(9), .skill__bl:nth-of-type(10) {
    margin-bottom: 10%;
  }
}
.skill__img-wrap {
  width: 13%;
}
.skill__gage {
  width: 83%;
}
.skill__year {
  font-size: 2rem;
  color: #d1cfcf;
}
@media only screen and (max-width: 768px) {
  .skill__year {
    font-size: 2.7rem;
  }
}
.skill__name {
  font-size: 3.5rem;
  margin-right: 2%;
}
@media only screen and (max-width: 768px) {
  .skill__name {
    font-size: 4.2rem;
  }
}

.footer-about {
  padding: 5%;
}
.footer-about__icon {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-about__icon a {
  margin-right: 3%;
}
@media only screen and (max-width: 768px) {
  .footer-about__icon a {
    margin-right: 8%;
  }
}
.footer-about__icon a:last-of-type {
  margin: 0;
}
.footer-about__icon i {
  font-size: 3.5rem;
}
@media only screen and (max-width: 768px) {
  .footer-about__icon i {
    font-size: 5.4rem;
  }
}
.footer-about__inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.footer-about p {
  text-align: center;
  font-size: 3.5rem;
}
@media only screen and (max-width: 768px) {
  .footer-about p {
    font-size: 4.4rem;
  }
}

.works-page {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-snap-stop: always;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.works-page__bl {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}
.works-page__tit {
  text-align: center;
  font-size: 6.5rem;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 3%;
}
.works-page__link {
  color: #fa1818 !important;
}
.works-page__section {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
}
.works-page__inner {
  opacity: 0;
  transition: all 0.8s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100%;
  padding: 0 5%;
}
.works-page__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .works-page__flex {
    flex-direction: column-reverse;
  }
}
.works-page__content {
  background-color: #080707;
}
.works-page__thum-wrap {
  width: 50%;
  border: 1px solid #b0adad;
}
@media only screen and (max-width: 768px) {
  .works-page__thum-wrap {
    width: 80%;
    margin: 0 auto;
  }
}
.works-page__list {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .works-page__list {
    width: 100%;
    margin-top: 8%;
  }
}
.works-page__list dt {
  font-size: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.works-page__list dt::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
  margin-right: 3%;
}
@media only screen and (max-width: 768px) {
  .works-page__list dl:nth-of-type(1),
.works-page__list dl:nth-of-type(2) {
    display: none;
  }
}
.works-page__list dd {
  font-size: 2.5rem;
  opacity: 0.75;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}
@media only screen and (max-width: 768px) {
  .works-page__list dd {
    font-size: 3.4rem;
  }
}
.works-page__list dd::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin-right: 3%;
}
.works-page__desc {
  font-size: 2rem !important;
}
@media only screen and (max-width: 768px) {
  .works-page__desc {
    font-size: 3rem !important;
  }
}
.works-page__desc::before {
  display: none !important;
}

.main-bg {
  background: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.common-hero {
  width: 100vw;
  height: 100vh;
  background: #080707;
}

.link-btn {
  position: relative;
  z-index: 5;
  display: inline-block;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  appearance: none;
  margin-top: 7%;
  letter-spacing: 0.2em;
  background: #ff4d5a;
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s;
}
@media only screen and (max-width: 768px) {
  .link-btn {
    font-size: 2.8rem;
  }
}
.link-btn:hover {
  transform: translateY(-7px);
}

.scrollbar {
  position: fixed;
  bottom: 10%;
  left: 3%;
  transition: all 0.7s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .scrollbar {
    display: none;
  }
}
.scrollbar span {
  display: inline-block;
}
.scrollbar__line {
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translatex(-50%);
  display: block;
  overflow: hidden;
  height: 80px;
  width: 1px;
}
.scrollbar__line:after {
  content: "";
  display: block;
  width: 1pxx;
  height: 80px;
  background-color: #fff;
  animation: moveY 2s infinite ease;
}
.scrollbar__txt {
  font-size: 2rem;
  letter-spacing: 0.4em;
  font-weight: bold;
  color: #fff;
  writing-mode: vertical-rl;
}

.scrollbar-efe {
  bottom: -200%;
  opacity: 0;
}

@keyframes moveY {
  0% {
    transform: translatey(-80px);
  }
  50% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(80px);
  }
}
.go-back {
  font-size: 5.5rem;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.go-back__wrap {
  overflow: hidden;
  position: fixed;
  left: 3%;
  top: 10%;
  transition: transform 0.4s;
  z-index: 2;
}

.right {
  margin-left: 2% !important;
  z-index: 1 !important;
  left: -15%;
}

.right span:last-of-type {
  margin: 0;
}

#fp-nav {
  width: 50px !important;
}
@media only screen and (max-width: 768px) {
  #fp-nav {
    width: 100% !important;
    bottom: 6% !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
  }
}
@media only screen and (max-width: 768px) {
  #fp-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#fp-nav ul li a span {
  margin: 0 !important;
  background-color: transparent !important;
  opacity: 0.4;
  width: 35px !important;
  height: 35px !important;
  display: inline-block !important;
  background-image: url("/image/nav.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
}

#fp-nav .active span {
  transform: scale(1.4) rotate(70deg);
  opacity: 1 !important;
}
@media only screen and (max-width: 768px) {
  #fp-nav .active span {
    transform: scale(1.2) rotate(70deg);
  }
}

.right ul li {
  margin: 0 0 60px 0 !important;
}
@media only screen and (max-width: 768px) {
  .right ul li {
    margin: 0 45px 0 0 !important;
  }
}

.mask-nav-efe {
  transform: translateY(-1200px);
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: rgb(7, 7, 7);
  transition: transform 1.3s cubic-bezier(0.15, 0.65, 0.35, 0.65);
}

.mask-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(7, 7, 7);
  transition: transform 1.3s cubic-bezier(0.15, 0.65, 0.35, 0.65);
  z-index: -11111;
}

.mask-up {
  transform: translateY(-1200px);
}

.zoom {
  width: 73%;
  position: absolute;
  top: auto;
  right: 0;
  height: 100vh;
  transform: none;
}

.progressbar-text {
  font-size: 2rem !important;
  position: absolute !important;
  right: 0 !important;
  top: -30px !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .progressbar-text {
    font-size: 3.2rem !important;
    top: -38px !important;
  }
}

.p-bar {
  width: 100%;
  position: relative;
}
.p-bar svg {
  box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}
.p-bar svg:nth-of-type(2) {
  display: none;
}

.is-show {
  display: block !important;
}

.is-hide {
  display: none;
}

.hero__tit-efe {
  left: 40%;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .hero__tit-efe {
    left: 10%;
  }
}

.hero__copy-efe {
  transform: translateX(0);
  opacity: 1;
}

.hero__moon-efe {
  opacity: 1;
  right: 0;
}

.img-cover-efe {
  transform: translateX(110%) translateZ(0px) !important;
}

.number-efe {
  transform: translatey(0px);
}

.works-active {
  transform: translate(-50%, -50%);
  opacity: 1;
}

@media (max-width: 340px) {
  .br-xs {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .br-sp {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .br-pc {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
