@use '../global' as g;

/*  sample */
@font-face {
  font-family: "april";
  src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf");
  font-weight: normal;
}

html {
  font-size: 62.5%;
  @media (max-width: 1500px) {
    font-size: 0.6vw;
  }
  @media (max-width: 1100px) {
    font-size: 0.7vw;
  }
  @include g.sp {
    font-size: 1vw;
  }
  @media (max-width: 450px) {
    font-size: 1.2vw;
  }
}

//webfontちらつき防止
html.wf-active {
  visibility: visible;
}


body {
  font-size: 1.5rem;
  color: #ffff;
  letter-spacing: 0.05em;
  font-family: futura-pt,  Hiragino Sans,
  "ヒラギノ角ゴシック",
  Hiragino Kaku Gothic ProN,
  "ヒラギノ角ゴ ProN W3",
  Roboto,
  "Droid Sans",
  YuGothic,
  "游ゴシック",
  Meiryo,
  "メイリオ",
  Verdana,
  "MS Pゴシック",
  sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);

  
  
}


img {
  display: block;
  width: 100%;
  object-fit: contain;
}

 
