@use '../global' as g;

.main-bg {
    background: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    
    }
    
  

  .common-hero {
    width: 100vw;
    height: 100vh;
    background: #080707;
}


.link-btn {
  position: relative;
  z-index: 5;
    display: inline-block;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    appearance: none;
    margin-top: 7%;
    letter-spacing: 0.2em;
    background:  #ff4d5a;;
    width: 200px;
    height: 50px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform .3s;
  &:hover {
    transform: translateY(10px);
  }
     
  }

.scrollbar {
    position: fixed;
    bottom: 10%;
    left: 3%;
    transition: all .7s ease-in-out;
    @include g.sp {
      display: none;
    }
    span {
        display: inline-block;
    }
    &__line {
        position: absolute;
        bottom: -90px;
        left: 50%;
        transform: translatex(-50%);
        display: block;
        overflow: hidden;
        height: 80px;
        width: 1px;
        &:after {
             
            content: "";
            display: block;
            width: 1pxx;
            height: 80px;
            background-color: #fff;
            animation: moveY 2s infinite ease;
        }
    }
    &__txt {
        font-size: 2rem;
        letter-spacing: 0.4em;
        font-weight: bold;
        color: #fff;
        writing-mode: vertical-rl;
    }
    
}
 

.scrollbar-efe {
    bottom: -200%;
    opacity: 0;
  }




@keyframes moveY {
    0% {
      transform: translatey(-80px);
    }
    50% {
      transform: translatey(0px);
    }
    100% {
      transform: translatey(80px);
    }
  }

  .go-back {
      font-size: 5.5rem;
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
     
    
     
      &__wrap {
          overflow: hidden;
          position: fixed;
          left: 3%;
          top: 10%;
          transition: transform .4s;
          z-index: 3;
      }
  }
 
